{% extends "resources/header.html" %}
{% block data %}
            <form class="p-3" method="POST">
                {% csrf_token %}
                <h1 class="text-center">Candidate Registration</h1>
                <table align="center">
                    {{ resource.as_table }}
    
                </table>
                
                <div class="text-center mt-2">
                    <button class="btn btn-primary" type="submit" value="Submit">SUBMIT</button>
                    <button class="btn btn-secondary" type="reset" value="reset">RESET</button>
                </div>
               
            </form>
       
{% endblock %}

